.recipe-card {
  position: relative;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
  text-align: center;
}

.recipe-image {
  width: 100%;
  height: 200px; /* Consistent height for all images */
  object-fit: cover; /* Ensures the image fits properly inside the card */
  background-color: #f0f0f0;
}

.recipe-card h3 {
  margin-bottom: 5px; /* Reduce space below the title */
  text-align: center; /* Ensure the title is centered */
  font-weight: bold;
}

.recipe-card p {
  margin: 5px 0;
  color: #666;
  font-size: 14px;
}

.card-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.add-to-cart-button,
.buy-now-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 7px 10px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 3px;
}

.buy-now-button {
  background-color: #28a745;
}

.add-to-cart-button:hover {
  background-color: #0069d9;
}

.buy-now-button:hover {
  background-color: #218838;
}
