.recipe-card {
  position: relative;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
  text-align: center;
}

.recipe-image {
  width: 100%;
  height: 200px; /* Consistent height for all images */
  object-fit: cover; /* Ensures the image fits properly inside the card */
  background-color: #f0f0f0;
}

.recipe-card h3 {
  margin-bottom: 5px; /* Reduce space below the title */
  text-align: center; /* Ensure the title is centered */
  font-weight: bold;
}

.recipe-card p {
  margin: 5px 0;
  color: #666;
  font-size: 14px;
}

/* Button container with flexbox */
.card-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  gap: 8px; /* Small gap between the buttons */
}

.add-to-cart-button,
.buy-now-button {
  flex: 1; /* Make both buttons take up equal space */
  background-color: #007bff;
  color: white;
  border: none;
  padding: 7px 10px; /* Adjust the padding for button size */
  cursor: pointer;
  font-size: 14px;
  border-radius: 3px;
}

.buy-now-button {
  background-color: #28a745;
}

.add-to-cart-button:hover {
  background-color: #0069d9;
}

.buy-now-button:hover {
  background-color: #218838;
}

/* Modifications for the "Add to Cart" button with icon */
.add-to-cart-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px; /* Space between icon and text */
}

.add-to-cart-button svg {
  font-size: 15px; /* Adjust the icon size */
  height: 15px;
  width: 15px;
}
